.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 72px;
  width: 100%;
  height: 100%;
  background-color: var(--ep-color-primary);
  position: sticky;
  top: 0;
}

.upper {
  width: 100%;
}

.middle {
  width: 100%;
}

.logo {
  border-radius: 50%;
  object-fit: contain;
  background-color: #ffffff;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-top: 2em;
}

.items {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.item {
  margin-bottom: 0.5em;
  color: #ffffff;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.25s all ease-out;
  &:hover {
    background-color: var(--ep-color-secondary);
  }
}

.item_active {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #ffffff;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
  }
}

.lower {
  margin-bottom: 2em;
}
